[qbittorrent]
addr     = "http://127.0.0.1:6776" # qbittorrent webui-api hostname/ip
apikey   = "APIKEY"                # qbittorrent webui-api api key, qbit 5.2.x+ (optional)
login    = "user"                  # qbittorrent webui-api user                 (optional)
password = "password"              # qbittorrent webui-api password             (optional)

[rules]
enabled              = true # enable or disable rules
max_active_downloads = 2    # set max active downloads